 <div class="container-fluid clear">
  <div class="row">
    <div class = "col-3">
    </div>
    <div class = "col-6">
     <h3 class = "users_heading" >ユーザー一覧</h3>
     <div class = "users_form" >  
      <% @users.each do |user| %>
       ユーザー名:<%= user.name%>
       メールアドレス:<%= user.email%>
       状態:<%= user.status%>
       id:<%= user.id%>
      <% end %>
    </div>
    </div>
    <div class = "col-3">
    </div>
  </div>
</div>
