 <div class="container-fluid clear">
  <div class="row">
    <div class = "col-3">
    </div>
    <div class = "col-6">
     <h3 class = "users_heading " >ユーザー一覧</h3>
     <div class = "users_form border-top border-right border-left border-dark " >  
       <% @users.each do |user| %>
        <div class = "border-bottom border-dark" >
          ユーザー名:<%= user.name%>
          メールアドレス:<%= user.email%>
          状態:<%= user.status%>
          id:<%= user.id%>
        </div>
      <% end %>
    </div>
    </div>
    <div class = "col-3">
    </div>
  </div>
</div>
