@import '~bootstrap/dist/css/bootstrap';

body {
    background-color: #54C3F1;
    margin: 0;
    padding-top: 50px;
}

.header-logo{
   font-size: 36px;
   float: left;
   padding: 20px 30px;
   color: #54C3F1;
 }

 .header {
   background-color: white;
   height: 90px;
   width: 100%;
 }