 .calendar{
     width: 300px;
     clear: both;
     margin-top: 100px;
     background-color: white;
     color: black;
 }
 .year_month{
     font-size: 35px;
    
    
 }
  
table{
    font-size: 30px;
}

.last_month {
    color: black;
}

.next_month {
    color: black;
}