//ログイン画面
.form-body  {
    color: white;
    font-size: 20px;
    padding-top: 10%;
    height: 500px;
}

.sign_up {
    background-color: #E38B70;
    //width: 150px;
    //height: 60px;
    border-radius: 30px;
    font-size: 20px;
    //line-height: 60px;
    padding: 10px 5px;
}

.login {
    background-color: #54C3F1;
    color: white;
    width: 150px;
    height: 60px;
    border-radius: 30px;
}

.field_with_errors {
    display: inline;
  }

  //フォーム
 .form-error {
    color: #ff4d75;
  }
