@import '~bootstrap/dist/css/bootstrap';

body {
    background-color: #54C3F1;
}

.header-logo{
   font-size: 35px;
   float: left;
   color: #54C3F1;
   line-height: 100px;
   padding-left: 15px;
 }

 .header {
   margin-top: 50px;
   background-color: white;
   height: 100px;
   width: 100%;
 }

 .header-menus {
     float: right;
     list-style-type: none;
     margin-bottom: 0;
 }

 .menu  {
    float: left;
    font-size: 20px;
    padding-right: 15px;
    list-style: none;
    line-height: 100px;
    color: #54C3F1;
  }

  //サクセスメッセージ
.flash {
    padding: 10px 0;
    color: white;
    background: rgb(251, 170, 88);
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
    clear: both;
    position: absolute;
}


li {
    float: left;
}