 .calendar{
     margin-top: 40px;
     background-color: white;
     color: black;
 }

 .year_month{
     font-size: 25px; 
     color: white;
     background-color: #54C3F1;  
 }
 
.today {
    color: white;
    margin-right: 5px;
}

.last_month {
    color: white;
}

.next_month {
    color: white;
    margin-right: 5px;
}

.holiday_name {
    font-size: 20px;
    color: white;
    background-color:#0B8043;
}

table {
    width: 100%;
    table-layout: fixed;
}

th{
    font-weight: 100;
    padding-bottom: 0px;
    width: calc(100%/7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 .days {
    vertical-align: top;
    padding-top: 0px;
    height: 100px;
}



.new_event_button { 
    width: 3rem; 
    height: 3rem;
    background-color: #db4437;
    margin-top: 10px;
}

.day_show {
    background-color: white;
    margin-top:77px;
}

.new_event_form {
    background-color: white;
    margin-top: 77px;
    padding: 8px;
   
}

.event_save_button {
    background-color: #E38B70;
    border-radius: 30px;
    color: white
}

.clear {
    clear: both;
}

.reservation_show_day {
    font-size: 30px;
}
 

